:root{
    --background-color: #1a1c20;
    --primary-color: #cf7500;
    --secondary-color: #f0a500;
    --font-color: #f4f4f4;
}

html, *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    background-color: var(--background-color);
    color: var(--font-color);
}